body{
    background-color: #fdc500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

h1{
    color:#5c0099;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
}

.btn{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: #9f1cf7;
    color: white;
    font-size: 1.3rem;
    box-shadow: 0 0 3px rgb(207, 206, 206);
    margin-bottom: 40px;
    transition: .4s ease;
}

img{
    display: block;
    top: 100px;
    left: 20px;
    position: absolute;
    transform: rotate(-21deg);
    
}
